################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/packages/feature/node_modules
/packages/project-safarizoo/node_modules
